@import 'library/library';

.app {
	max-width: rem(800);
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	box-shadow: 0 0 rem(20) rgba(color(blue_51), 0.05);
}

.chat {
	display: flex;
	flex-direction: column;
	flex: 1;
}
